Vagrant.configure(2) do |config|
  config.ssh.shell = 'bash -l'
  config.vm.provider 'virtualbox' do |vm, config|
    config.vm.synced_folder '.', '/vagrant', disabled: true # nfs: true, nfs_version: 4, nfs_udp: false
  end
end
